.footer {
    background: var(--footer-color);
    color: white;
    padding: 3rem 0 1rem;
}

.footer-section {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.footer-section h5 {
    font-weight: 600;
    margin-bottom: 1rem;
    font-size: 1.2rem;
}

.footer-section p {
    color: var(--section-text-invers);
    line-height: 1.6;
    margin-bottom: 1.5rem;
}

.social-links {
    display: flex;
    gap: 1rem;
}

.social-links a {
    color: #d1d5db;
    text-decoration: none;
    font-size: 1.5rem;
    transition: color 0.3s ease;
}

.social-links a:hover {
    color: #9e9e9e;
}

.logo-container {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-fotter {
    width: 120px;
    height: 120px;
}

/* Divider */
.footer-divider {
    height: 1px;
    background: rgba(255, 255, 255, 0.2);
    margin: 2rem 0;
}

/* Privacy Policy & Terms of Service */
.footer-bottom {
    color: var(--section-text-invers);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-links {
    display: flex;
    gap: 2rem;
}

.footer-links a {
    color: #d1d5db;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-links a:hover {
    color: #444444;
}

@media (max-width: 768px) {
    .footer-section {
        display: grid;
        grid-template-columns: 1fr;
    }

    .footer-bottom {
        flex-direction: column;
        gap: 1rem;
        text-align: center;
    }

    .footer-links {
        gap: 1rem;
    }
}